/* FONTS TO USE FROM FONTSHARE.COM */
/* font-family: 'Clash Display', sans-serif; */
/* font-family: 'Satoshi', sans-serif; */
/* font-family: 'Ranade', sans-serif; */
/* font-family: 'Chillax', sans-serif; */
/* font-family: 'Cabinet Grotesk', sans-serif; */

/* Colors */
/* old rose: CC8B86 */
/* linen: F9EAE1 */
/* rose taupe: 7D4F50 */
/* dun: D1BE9C */
/* cinnemon: AA998F */

:root {
  /* background-color: #335C67/; */
  background-color: #605C4E;
  background-color: #AA998F;
  background-color: #F9EAE1;
}
h1, h2, h3, h4, p, a {
  font-family: 'Cabinet Grotesk', sans-serif;
}

.home-link a {
  text-decoration: none;
  color: #7D4F50;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
}
.home-link a:hover {
  color: #0077b6;
  transition: .3s;
}

/* Season Selector Page */
/* Header */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.header-container .header-container-title {
  font-size: 42px;
  font-weight: 400;
  color: #7D4F50;
}
/* Layout for the Season Buttons */
.season-selector-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.season-selector-container .season-button {
  height: 60vh;
  background-color: transparent;
  border: none;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Cabinet Grotesk', sans-serif;
  margin: 5vh 0px;
  /* border-radius: 10px; */
  transition: .3s;
}
.season-selector-container .season-button:nth-child(2) {
  border-left: 2px solid black;
}
.season-selector-container .season-button:hover {
  cursor: pointer;
  /* background-color: #e4c8b6; */
  transition: .3s;
}
.season-selector-container .season-button .summer-span {
  display: inline-block;
  transition: .3s;
}
.season-selector-container .season-button:nth-child(2):hover {
  transition: .3s;

}
/* Child elements moving SUMMER */
.season-selector-container .season-button:hover .summer-span:nth-child(1) {
  transform: rotate(20deg) translateX(-5px);
  transition: .3s;
  color: #CC8B86;
}
.season-selector-container .season-button:hover .summer-span:nth-child(2) {
  transform: rotate(-20deg) translateY(-2px);
  transition: .3s;
  color: #D1BE9C;
}
.season-selector-container .season-button:hover .summer-span:nth-child(3) {
  transform: rotate(-10deg) translateY(7px);
  transition: .3s;
  color: #f9dc5c;
}
.season-selector-container .season-button:hover .summer-span:nth-child(4) {
  transform: rotate(10deg) translateY(-4px);
  transition: .3s;
  color: #bf3100;
}
.season-selector-container .season-button:hover .summer-span:nth-child(5) {
  transform: rotate(-10deg) translateY(7px);
  transition: .3s;
  color: #d34f73;
}
.season-selector-container .season-button:hover .summer-span:nth-child(6) {
  transform: rotate(-10deg) translateY(-5px);
  transition: .3s;
  color: #0077b6;
}
