/* FONTS TO USE FROM FONTSHARE.COM */
/* font-family: 'Clash Display', sans-serif; */
/* font-family: 'Satoshi', sans-serif; */
/* font-family: 'Ranade', sans-serif; */
/* font-family: 'Chillax', sans-serif; */
/* font-family: 'Cabinet Grotesk', sans-serif; */

:root {
  /* background-color: #335C67/; */
  background-color: #605C4E;
}
h1, h2, h3, h4, p, a {
  font-family: 'Cabinet Grotesk', sans-serif;
}

/* Header Component */
.header-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
}
.header-container .header-text {
  display: flex;
  flex-direction: column;
}
.header-container .header .header-text h1 {
  color: #EAFFDA;
  font-size: 48px;
  font-weight: 400;
}
/* ------------------- */

.video-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  height: 100vh;
}
.video-container .video {
  height: 500px;
  width: 400px;
}

.home-link {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 100;
}
.home-link a {
  text-decoration: none;
  color: #EAFFDA;
  font-size: 16px;
  font-family: 'Cabinet Grotesk', sans-serif;
}
