/* FONTS TO USE FROM FONTSHARE.COM */
/* font-family: 'Clash Display', sans-serif; */
/* font-family: 'Satoshi', sans-serif; */
/* font-family: 'Ranade', sans-serif; */
/* font-family: 'Chillax', sans-serif; */
/* font-family: 'Cabinet Grotesk', sans-serif; */

/* Colors */
/* old rose: CC8B86 */
/* linen: F9EAE1 */
/* rose taupe: 7D4F50 */
/* dun: D1BE9C */
/* cinnemon: AA998F */

:root {
  /* background-color: #335C67/; */
  background-color: #605C4E;
  background-color: #FFE8D6;
}
h2, h3, h4, p, a, li {
  font-family: 'Cabinet Grotesk', sans-serif;
}
h1 {
  font-family: 'Chillax', sans-serif;
}

.home-link a {
  text-decoration: none;
  color: #7D4F50;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
}
.home-link a:hover {
  color: #0077b6;
  transition: .3s;
}

/* Season Selector Page */
/* Header */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.header-container .header-container-title {
  font-size: 42px;
  font-weight: 500;
  color: #6B705C;
  color: #7D4F50;
}
/* Layout for the Season Buttons */
.season-selector-container-yard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 10px; */
  position: relative;
  max-width: 1100px;
  margin: auto;
  padding-top: 25px;

}
.season-selector-container-yard .season-button {
  height: 30vh;
  background-color: transparent;
  border: none;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Cabinet Grotesk', sans-serif;
  margin: 0vh 0px;
  /* transition: .3s; */
}
.season-selector-container-yard .season-button:hover {
  cursor: pointer;
  /* background-color: #e4c8b6; */
  /* transition: .3s; */
}
.season-selector-container-yard .season-button:nth-child(1) {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.season-selector-container-yard .season-button:nth-child(2) {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.season-selector-container-yard .season-button:nth-child(3) {
  border-right: 1px solid black;
  border-top: 1px solid black;
}
.season-selector-container-yard .season-button:nth-child(4) {
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.season-selector-container-yard .season-button .summer-span {
  display: inline-block;
  transition: .3s;
  color: #7D4F50;
}
/* Child elements moving SUMMER / SPRING */
.season-selector-container-yard .season-button:hover .summer-span:nth-child(1) {
  transform: rotate(20deg) translateX(-5px);
  transition: .3s;
  color: #CC8B86;
}
.season-selector-container-yard .season-button:hover .summer-span:nth-child(2) {
  transform: rotate(-20deg) translateY(-2px);
  transition: .3s;
  color: #D1BE9C;
}
.season-selector-container-yard .season-button:hover .summer-span:nth-child(3) {
  transform: rotate(-10deg) translateY(7px);
  transition: .3s;
  color: #f9dc5c;
}
.season-selector-container-yard .season-button:hover .summer-span:nth-child(4) {
  transform: rotate(10deg) translateY(-4px);
  transition: .3s;
  color: #bf3100;
}
.season-selector-container-yard .season-button:hover .summer-span:nth-child(5) {
  transform: rotate(-10deg) translateY(7px);
  transition: .3s;
  color: #d34f73;
}
.season-selector-container-yard .season-button:hover .summer-span:nth-child(6) {
  transform: rotate(-10deg) translateY(-5px);
  transition: .3s;
  color: #0077b6;
}
/* CHILD ELEMENTS MOVING FALL */
.season-selector-container-yard .season-button .fall-span {
  display: inline-block;
  transition: .3s;
  color: #7D4F50;
}
.season-selector-container-yard .season-button:hover .fall-span:nth-child(1) {
  transform: rotate(9deg) translateY(8px) translateX(-8px);
  transition: .3s;
  color: #5f81ea;
}
.season-selector-container-yard .season-button:hover .fall-span:nth-child(2) {
  transform: rotate(-15deg) translateY(12px) translateX(-9px);
  transition: .3s;
  color: #ff0000;
}
.season-selector-container-yard .season-button:hover .fall-span:nth-child(3) {
  transform: rotate(-10deg) translateY(7px);
  transition: .3s;
  color: #fdd522;
}
.season-selector-container-yard .season-button:hover .fall-span:nth-child(4) {
  transform: rotate(10deg) translateY(9px) translateX(10px);
  transition: .3s;
  color: #e58620;
}
.season-selector-container-yard .season-button:hover .fall-span:nth-child(5) {
  transform: rotate(-10deg) translateY(7px) translateX(10px);
  transition: .3s;
  color: #d34f73;
}
.season-selector-container-yard .season-button:hover .fall-span:nth-child(6) {
  transform: rotate(15deg) translateY(-2px) translateX(15px);
  transition: .3s;
  color: #0077b6;
}

/* Page Center Container for pages under construction */
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seasons-back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #7D4F50;
}
.seasons-back-button:hover {
  cursor: pointer;
  color: #0077b6;
}

/* Summer Videos Layout */
.content-container-outer {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 40px;
}
.content-container-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-container-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 20px;
}
.content-container-layout .center {
  text-align: center;
}
.content-container-layout .video {
  border-radius: 10px;
}
.content-container-layout p {
  font-size: 18px;
  color: #6B705C;
  color: #7D4F50;

}
.content-container-layout li {
  font-size: 18px;
  color: #6B705C;
  color: #7D4F50;

}
.video-title {
  font-size: 26px;
  font-weight: 550;
  color: black;
}


@media only screen and  (min-width: 200px) and (max-width: 700px) {

  /* Seasons Page */
  .header-container {
    height: 10vh;
    margin-top: 10vh;
  }
  .season-selector-container-yard .season-button {
    font-size: 28px;
  }

  /* Summer Video Page */
  .seasons-back-button {
    top: 15px;
    left: 15px;
    font-size: 16px;
  }

  .header-container .header-container-title {
    font-size: 26px;
    text-align: center;
  }
  .content-container-outer {
    max-width: 350px;
    margin: auto;
  }
  .content-container-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 10px;
  }
  .content-container-layout p {
    font-size: 16px;
  }
  .video-title {
    font-size: 20px;
    font-weight: 500;
  }

}
