

.d-root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: ivory; */
    /* background: #69DDFF; */
    /* background: #454e5b; */
}
/* Fonts to use from Fontshare */
/* font-family: 'Clash Display', sans-serif; */
/* font-family: 'Satoshi', sans-serif; */
/* font-family: 'Ranade', sans-serif; */
/* font-family: 'Chillax', sans-serif; */
/* font-family: 'Cabinet Grotesk', sans-serif; */
.overlay-description {
  position: absolute;
  top: 5px;
  left: 40px;
  z-index: 100;
  font-family: 'Cabinet Grotesk', sans-serif;
  max-width: 150px;
}
.main-header {
  color: rgb(211, 211, 241);
  font-size: 28px;
  text-decoration: none;
}

.pool-button {
  position: absolute;
  bottom: 20px;
  left: 40px;
  z-index: 100;
  font-family: 'Cabinet Grotesk', sans-serif;
}
.yard-button {
  position: absolute;
  bottom: 20px;
  left: 90px;
  z-index: 100;
  font-family: 'Cabinet Grotesk', sans-serif;
}
.contact-button {
  position: absolute;
  bottom: 20px;
  left: 140px;
  z-index: 100;
  font-family: 'Cabinet Grotesk', sans-serif;
}
.norm {
  color: rgb(211, 211, 241);
  color: #4A314D;
  font-size: 18px;
  text-decoration: none;
}
.nav:hover {
  color: rgb(106, 87, 159);
  color: #D6E3F8;
}
.description {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 150px;
  border: 1px solid rgb(106, 87, 159);
  padding: 10px;
  text-align: center;
}


@media only screen and  (min-width: 200px) and (max-width: 700px) {
  .overlay-description {
    position: absolute;
    top: 0px;
    left: 20px;
    z-index: 100;
    font-family: 'Cabinet Grotesk', sans-serif;
    max-width: 150px;
  }
  .pool-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 100;
    font-family: 'Cabinet Grotesk', sans-serif;
  }
  .yard-button {
    position: absolute;
    bottom: 20px;
    left: 70px;
    z-index: 100;
    font-family: 'Cabinet Grotesk', sans-serif;
  }
}
